{% extends 'cars/base.html' %}
{% block content %}
        <div class="post">
            <h2><a href="">Водители </a></h2>
            <table border="0" cellpadding="10">
                <tr>
                    <th>Ф.И.О.</th>
                    <th>Стаж работы</th>
                </tr>
                {% for driver in drivers %}
                <tr>
                    <td>{{driver.fio}}</td>
                    <td>{{driver.experience}}</td>
                    <td><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td><span class="glyphicon glyphicon-remove"></span></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="post">
            <h2><a href="">Автомобили</a>  <a href="{% url 'car_new' %}" class="post"><span class="glyphicon glyphicon-plus"></span></a> </h2>

            <table border="0" cellpadding="10">
                <tr>
                    <th>Номер</th>
                    <th>Модель</th>
                    <th>Цвет</th>
                </tr>
                {% for car in cars %}
                <tr>
                    <td>{{car.number}}</td>
                    <td>{{car.model}}</td>
                    <td>{{car.color}}</td>
                    <td><a href="{% url 'car_edit' pk=car.pk %}" class="post"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td><a href="{% url 'car_delete' pk=car.pk %}"><span class="glyphicon glyphicon-remove"></span></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="post">
            <h2><a href="">Экипаж </a></h2>
            <table border="0" cellpadding="10">
                <tr>
                    <th>Name</th>
                    <th>Водитель</th>
                    <th>Автомобиль</th>
                </tr>
                {% for crew in crews %}
                <tr>
                    <td>{{crew.name}}</td>
                    <td>{{crew.driver}}</td>
                    <td>{{crew.car}}</td>
                    <td><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td><span class="glyphicon glyphicon-remove"></span></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
{% endblock %}