<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список экипажей</title>
</head>
<body>
    <div>
        <h1><a href="/">ООО "Автоперевозки"</a></h1>
    </div>

        <div>
            <h2><a href="">Водители</a></h2>
            <p>Список всех водителей компании</p>
        </div>

        <div>
            <h2><a href="">Автомобили</a></h2>

            <table border="0" cellpadding="10">
                <tr>
                    <th>Номер</th>
                    <th>Модель</th>
                    <th>Цвет</th>
                </tr>
                {% for car in cars %}
                <tr>
                    <td>{{car.number}}</td>
                    <td>{{car.model}}</td>
                    <td>{{car.color}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div>
            <h2><a href="">Экипаж</a></h2>
            <p>Список сформированных экипажей</p>
        </div>
</body>
</html>